.footer {
    background-color: #fdc7df ;
    padding: 20px 0;
 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around; /* توزيع الأيقونات بالتساوي */
    align-items: center; /* محاذاة العناصر عموديًا */
    max-width: 800px; /* تحديد عرض الفوتر */
    margin: 0 auto; /* توسيط الفوتر في الصفحة */
    display: block;
  }
  
  .icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
  }
  
  .icon img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  
  }
  
  .icon {
    text-decoration: none;
    
  }


 /* تنسيق العناوين */
h2.elementor-heading-title.elementor-size-default {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* لون النص */
    text-align: center; /* توسيط النص */
    margin: 10px 0;
     background-color: #fdc7df;
   
}

/* تنسيق العنوان الأول */
h2.elementor-heading-title.elementor-size-default:first-of-type {
    color: #555;
 
    font-size: 14px;
    background-color: #fdc7df;
  
}

/* تنسيق العنوان الثاني */
h2.elementor-heading-title.elementor-size-default:last-of-type {
    color: #007bff; /* لون أزرق */
    font-size: 14px;
    font-weight: normal;
    background-color: #fdc7df;
}

.abb {
    background-color: #fdc7df;
    
}

